<div *ngIf="siteradioDetails">
  <h2>Détails du Site Radio pour l'Antenne</h2>
  <p><strong>Numero:</strong> {{ siteradioDetails.idSiteRadio }}</p>
  <p><strong>Adresse:</strong> {{ siteradioDetails.adresse }}</p>
  <p><strong>Coordonnées:</strong> {{ siteradioDetails.cordonnees }}</p>
  <p><strong>Nombre de Modules Radio Logiques:</strong> {{ siteradioDetails.nbrModuleRadio_Logique }}</p>
  <p><strong>Nombre de Modules Radio Physiques:</strong> {{ siteradioDetails.nbrModuleRadio_Physique }}</p>
</div>
